<section class="all-jobs">
  <% if(result && result.rows.length > 0){ %> <% result.rows.forEach((item) => {
  %>
  <div class="box">
    <h2 class="job-title"><a href="/jobs/<%=item.id%>"><%=item.title %></a></h2>
    <div class="company-name">
      <span><%=item.company %></span>
    </div>
    <div class="company-location">
      <span><%=item.location %></span>
    </div>
    <div class="job-type">
      <span><img src="/assets/suitcase.png" alt="" /> Full Time</span>
    </div>
    <div class="job-description">
      <ul>
        <li><%=item.description %></li>
      </ul>
    </div>
    <div class="posted-date">
      <small>Posted 19 days ago</small>
    </div>
  </div>
  <% }); %> <% } else { %>
  <p>No jobs found.</p>
  <% } %>
</section>
