<span id="getId" data-id="<%=id%>"></span>

<div class="searchbar-component">
  <%- include('../../components/searchbar'); %>
</div>

<div class="editFormJob hidden">
  <%-include('../../forms/jobForm', {job, id}); %>
</div>

<section class="job-details">
  <div class="component">
    <% if(sessionId && sessionId === job.employer_id){ %>
    <button class="editJob">Edit</button>
    <button class="deleteJob">Delete</button>
    <% } %>
  </div>

  <h1 class="job-details-title"><%= job.title %></h1>
  <div class="job-details-company">
    <span><% job.company %></span>
  </div>
  <div class="job-details-location">
    <span><%= job.location %></span>
  </div>
  <div class="job-details-type">
    <span>Full Time</span>
  </div>
  <div class="job-details-posted-date">
    <span>Posted 5h ago</span>
  </div>
  <div class="job-details-company-jobs">
    <a href="#">More jobs from this company</a>
  </div>
  <div class="job-details-apply">
    <form action="">
      <button type="submit" class="apply">Apply</button>
    </form>
    <form action="">
      <button type="submit" class="save">
        <img src="/assets/heart.png" alt="" />
      </button>
    </form>
  </div>

  <div class="horizontal-bar"></div>

  <div class="job-details-full-description">
    <span class="job-details-header"><%= job.description %></span>
  </div>

  <div class="job-details-about-company">
    <span class="job-details-header">About <%= job.company %></span>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, fugit?
      Quam repudiandae perspiciatis consequuntur ea consequatur labore itaque
      corporis sunt neque, quis qui, porro distinctio nemo reiciendis molestiae
      voluptate tempora totam dignissimos a debitis. Commodi, quae veritatis aut
      reprehenderit voluptates ratione? Eos amet, nemo error obcaecati neque
      vitae corrupti sed.
    </p>
  </div>

  <div class="job-details-role-description">
    <span class="job-details-header">About the role</span>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, fugit?
      Quam repudiandae perspiciatis consequuntur ea consequatur labore itaque
      corporis sunt neque, quis qui, porro distinctio nemo reiciendis molestiae
      voluptate tempora totam dignissimos a debitis. Commodi, quae veritatis aut
      reprehenderit voluptates ratione? Eos amet, nemo error obcaecati neque
      vitae corrupti sed.
    </p>
  </div>

  <div class="job-details-role-responsabilities">
    <span class="job-details-header">Responsibilities of the role</span>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, fugit?
      Quam repudiandae perspiciatis consequuntur ea consequatur labore itaque
      corporis sunt neque, quis qui, porro distinctio nemo reiciendis molestiae
      voluptate tempora totam dignissimos a debitis. Commodi, quae veritatis aut
      reprehenderit voluptates ratione? Eos amet, nemo error obcaecati neque
      vitae corrupti sed.
    </p>
  </div>

  <div class="job-details-about-candidate">
    <span class="job-details-header">About you</span>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, fugit?
      Quam repudiandae perspiciatis consequuntur ea consequatur labore itaque
      corporis sunt neque, quis qui, porro distinctio nemo reiciendis molestiae
      voluptate tempora totam dignissimos a debitis. Commodi, quae veritatis aut
      reprehenderit voluptates ratione? Eos amet, nemo error obcaecati neque
      vitae corrupti sed.
    </p>
  </div>
</section>

<script>
  const editButton = document.querySelector(".editJob");
  const formJob = document.querySelector(".editFormJob");
  const blockJobDetails = document.querySelector(".job-details");
  const deleteButton = document.querySelector(".deleteJob");

  const spanId = document.getElementById("getId");

  const cancelPostJob = document.querySelector(".cancel-post-job");

  const handleClick = () => {
    formJob.classList.remove("hidden");
    blockJobDetails.classList.add("hidden");
  };

  const handleCancel = (event) => {
    event.preventDefault();
    formJob.classList.add("hidden");
    blockJobDetails.classList.remove("hidden");
  };

  const handleDelete = async () => {
    try {
      const res = await axios.delete(
        `/employer/profile/job/${spanId.dataset.id}`
      );
      if (res.status === 200) {
        location.replace("/employer/profile");
      }
    } catch (error) {}
  };

  if (editButton) {
    editButton.addEventListener("click", handleClick);
  }
  if (deleteButton) {
    deleteButton.addEventListener("click", handleDelete);
  }

  cancelPostJob.addEventListener("click", handleCancel);
</script>
